@import url('//fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: url(bg-black-linen.png);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	font-size: 250%;
	font-weight: bold;
	color: white;
	flex-wrap: nowrap;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
  justify-content: center;
}

#heading {
	color: white;
}

#container {
	vertical-align:middle;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid black;
}

#field {
	background-image: url(soccer_field.jpg);
	width: 292px;
	height: 425px;
	background-repeat: no-repeat;
}

.draggable {
	cursor: move;
	width: 50px;
	height: 30px;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

#circle:hover{
	background: blue; /* make this whatever you want */
}

#circle {
	margin-left: 10px;
	margin-right: 10px;
	flex-direction: column;
	align-items: center;
	align-self: center;
  width: 30px;
  height: 30px;
  background-color: white;
	border-radius: 50%;
	position: absolute;
}

#small-circle{
  margin-top: 10%;
  margin-left: 10%;
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: red;
  border-radius: 50%;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

#number {
	top: 30%;
	position: relative;;
  font-weight:bold;
	color: white;
	font-size: x-small;
	text-align: center;
	align-self: center;
	align-items: center;
}

#name {
	margin-top: 30px;
  font-weight:bold;
	color: white;
	font-size: 8px;
	text-align: center;
	align-self: center;
	align-items: center;
	word-wrap: break-word;      /* IE */
}

#gk {
	left: 115px;
	top: 326px;
	position: absolute;
}

#dl {
	left: 30px;
	top: 260px;
	position: absolute;
}

#dr {
	left: 202px;
	top: 260px;
	position: absolute;
}

#dcl {
	left: 90px;
	top: 270px;
	position: absolute;
}

#dcr {
	left: 140px;
	top: 270px;
	position: absolute;
}

#fc {
	left: 115px;
	top: 40px;
	position: absolute;
	align-items: center;
	align-self: center;
	align-content: center;
}

#amc {
	left: 115px;
	top: 110px;
	position: absolute;
}

#amr {
	left: 202px;
	top: 110px;
	position: absolute;
}

#aml {
	left: 30px;
	top: 110px;
	position: absolute;
}

#cml {
	left: 90px;
	top: 180px;
	position: absolute;
}

#cmr {
	left: 140px;
	top: 180px;
	position: absolute;
}
